/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/11/2020, 03:42:43 PM
    Author     : User
*/

body {
    padding: 3%;
    background: #CDFADF;
    font-family: "Times New Roman",Arial;
    font-size: 130%;
}
header {
    text-align: center;
    font-style: oblique;
}
.navigation-bar {
    height: 60px;
    background: #F5462B;
    border-radius: 5px;
    padding: 1.5%;
}
li {
    list-style: none;
    display: inline-block;
    width: 20%;
    background: #ffffff;
    margin-left: 4%;
}
.link {
    text-decoration: none;
    font-style: normal;
    color: #000000;
    width: 100%;
}
footer{
    text-align: center;
    font-style: oblique;
    font-size: 150%;
    color:#ffffff;
}
.footer{
    width: 100%;
    background:purple;
    border-radius:5px;
}
main {
    text-align: center;
    
}
.panel{
    margin-right: 3%;
    margin: 0 auto;
}